[user]
	email = rnakato@iam.u-tokyo.ac.jp
	name = Ryuichiro Nakato
[core]
	editor = emacs
[alias]
	lol = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by%C(cyan ul)%a'n%Creset' %x09%C(auto)%s %d'
