ServerAliveInterval 100
ForwardAgent yes
Host github.com
  User git
  Hostname github.com
Host bitbucket.org
  User git
  Hostname bitbucket.org
Host harp
  User rnakato
  Hostname harp
  ForwardX11 yes
Host accordion
  User rnakato
  Hostname accordion
  ProxyCommand ssh -W %h:%p harp
Host euphonium
  User rnakato
  Hostname euphonium
ProxyCommand ssh -W %h:%p harp
Host synthesizer
  User rnakato
  Hostname synthesizer
ProxyCommand ssh -W %h:%p harp
